backup.sh
binary/
binary.list
binary.packages
cache/
chroot/
config/binary
config/chroot
config/source
lernstick_debian*
logfile.txt
source/
source.debian.list
source.debian-live.list
.stage/
virtualbox/
