jessie64/constants
squeeze/backup.sh
squeeze/binary/
squeeze/binary.list
squeeze/binary.packages
squeeze/cache/
squeeze/chroot/
squeeze/config/binary
squeeze/config/bootstrap
squeeze/config/chroot
squeeze/config/common
squeeze/config/source
squeeze/lernstick_debian6_*
squeeze/logfile.txt
squeeze-pu/binary/
squeeze-pu/binary.list
squeeze-pu/binary.packages
squeeze-pu/cache/
squeeze-pu/chroot/
squeeze-pu/config/binary
squeeze-pu/config/bootstrap
squeeze-pu/config/chroot
squeeze-pu/config/common
squeeze-pu/config/source
squeeze-pu/lernstick_pruefungsumgebung_debian6_*
squeeze-pu/logfile.txt
squeeze-pu/source/
squeeze-pu/source.debian.list
squeeze-pu/source.debian-live.list
squeeze-pu/.stage/
squeeze/source.debian.list
squeeze/source.debian-live.list
squeeze/.stage/
squeeze/virtualbox/
wheezy/grub_gettext/de.po~
