# needed for gfxterm
insmod efi_gop
insmod efi_uga

# needed for loading theme images
insmod png

# needed for non-latin strings (e.g. Russian)
insmod font
if loadfont /boot/grub/dejavu_sans_mono_9.pf2
then
	insmod gfxterm
	set gfxmode=auto
	set gfxpayload=keep
	terminal_output gfxterm
fi

# prevent access to terminal and entry editing
set superusers="root"
export superusers
password_pbkdf2 root grub.pbkdf2.sha512.10000.67273025B37FD17694BD87635B3F5745108CB41E6016859DFF3FC323B8BC8C3F2D0ED453F0DDDF1C0F     FB1A65BF030827F14BAA1F7CE07279CF57DCB224A7E1F7.85F57A26AAA29BB81C3A660AF95419C9C200E2364682A6BF318A780B3C08AE8B9DA1487842F89B3375     2F7DEED933B472246B1B432F77832D5F6216B70EED3649

# theme
set theme="/boot/grub/themes/lernstick/theme.txt"
export theme

# timeout handling
set SHOW_TIMEOUT="true"
export SHOW_TIMEOUT

# default configuration values
set DEFAULT_KERNEL="/live/#DEFAULT_KERNEL#"
export DEFAULT_KERNEL
set DEFAULT_INITRD="/live/#DEFAULT_INITRD#"
export DEFAULT_INITRD
set DEFAULT_APPEND="boot=live nonetworking config timezone=Europe/Zurich persistence-encryption=luks,none lernstick_efi_boot"
export DEFAULT_APPEND
set LOCALES="de_CH.UTF-8"
export LOCALES
set KEYBOARD="ch,ch(fr),de,fr"
export KEYBOARD
set DESKTOP="gnome nottyautologin"
export DESKTOP
set PERSISTENCE="persistence"
export PERSISTENCE
set LIVE_MEDIA=""
export LIVE_MEDIA
set PERSISTENCE_MEDIA="persistence-media=removable"
export PERSISTENCE_MEDIA
set SWAP=""
export SWAP
set SWAP_FILE=""
export SWAP_FILE
set QUIET="quiet splash"
export QUIET
set CUSTOM_OPTIONS=""
export CUSTOM_OPTIONS

function debug {
	echo "LOCALES: \"$LOCALES\""
	echo "KEYBOARD: \"$KEYBOARD\""
	echo "DESKTOP: \"$DESKTOP\""
	echo "PERSISTENCE: \"$PERSISTENCE\""
	echo "LIVE_MEDIA: \"$LIVE_MEDIA\""
	echo "SWAP: \"$SWAP\""
	echo "SWAP_FILE: \"$SWAP_FILE\""
	echo "QUIET: \"$QUIET\""
	read
}

function go_to_main_menu {
	configfile "/boot/grub/grub_main.cfg"
}

function disable_timeout {
	set SHOW_TIMEOUT="false"
	export SHOW_TIMEOUT
}

function set_grub_language {
	if   [ "${LOCALES}" = "de_CH.UTF-8" ]; then set lang="de"; export lang
	elif [ "${LOCALES}" = "de_AT.UTF-8" ]; then set lang="de"; export lang
	elif [ "${LOCALES}" = "de_DE.UTF-8" ]; then set lang="de"; export lang
	elif [ "${LOCALES}" = "fr_CH.UTF-8" ]; then set lang="fr"; export lang
	elif [ "${LOCALES}" = "it_CH.UTF-8" ]; then set lang="it"; export lang
	elif [ "${LOCALES}" = "en_US.UTF-8" ]; then set lang="en"; export lang
	elif [ "${LOCALES}" = "es_AR.UTF-8" ]; then set lang="es_AR"; export lang
	elif [ "${LOCALES}" = "es_ES.UTF-8" ]; then set lang="es_ES"; export lang
	elif [ "${LOCALES}" = "pt_BR.UTF-8" ]; then set lang="pt_BR"; export lang
	elif [ "${LOCALES}" = "sq_AL.UTF-8" ]; then set lang="sq"; export lang
	elif [ "${LOCALES}" = "ku_TR.UTF-8" ]; then set lang="ku"; export lang
	elif [ "${LOCALES}" = "ru_RU.UTF-8" ]; then set lang="ru"; export lang
	elif [ "${LOCALES}" = "fa_IR" ]      ; then set lang="fa"; export lang
	fi
}

set_grub_language
go_to_main_menu
