#!/bin/sh

echo "starting dbus..."
/etc/init.d/dbus start

echo "installing flatpak debian packages..."
apt -y install gnome-software-plugin-flatpak

echo "adding flathub remote repository..."
flatpak remote-add --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo

# The order of hooks is more or less random. To ensure a before-after-relation
# we have to install the flatpak applications here in this script. Otherwise
# a hook with "flatpak install" might be executed before this hook and flathub
# might not yet be added as a remote repository.
#
# Feel free to customize the following statement (which is just an example) in
# all git branches.

# For flatpak applications that need GL extensions we need to add all nvidia
# runtimes that correspond to the nvidia drivers we have installed natively on
# our system. So please keep this list up to date!

echo "installing flatpak nvidia drivers..."
# install one package after the other so that an installation failure in one
# package doesn't stop the installation of subsequent packages
for i in "340-108" "390-132" "440-82"
do
	flatpak -y install org.freedesktop.Platform.GL.nvidia-$i
done

echo "installing flatpak applications..."
flatpak -y install \
	ch.openboard.OpenBoard \
	com.github.tchx84.Flatseal \
	org.kde.digikam \
	org.kde.kdenlive \
	org.mobsya.ThymioSuite \
	org.mypaint.MyPaint \
	org.x.Warpinator
#	net.minetest.Minetest \
#	org.avidemux.Avidemux \
#	org.gimp.GIMP \
#	org.kde.krita \
#	org.speed_dreams.SpeedDreams \
#	org.supertuxproject.SuperTux
