#!/bin/sh

echo "starting dbus..."
/etc/init.d/dbus start

echo "installing flatpak debian packages..."
apt -y install gnome-software-plugin-flatpak

echo "adding flathub remote repositories..."
flatpak remote-add --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo
flatpak remote-add --if-not-exists flathub-beta https://flathub.org/beta-repo/flathub-beta.flatpakrepo

# The order of hooks is more or less random. To ensure a before-after-relation
# we have to install the flatpak applications here in this script. Otherwise
# a hook with "flatpak install" might be executed before this hook and flathub
# might not yet be added as a remote repository.
#
# Feel free to customize the following statement (which is just an example) in
# all git branches.

# For flatpak applications that need GL extensions we need to add all nvidia
# runtimes that correspond to the nvidia drivers we have installed natively on
# our system. So please keep this list up to date!

echo "installing flatpak nvidia drivers..."
# install one package after the other so that an installation failure in one
# package doesn't stop the installation of subsequent packages
for i in "535-216-01"
do
	flatpak -y install org.freedesktop.Platform.GL.nvidia-$i
done

# some flatpak packages are difficult to install
# (no idea why...)
while ! flatpak -y install com.ultimaker.cura
do
	echo "UltiMaker Cura failed to install, trying again in 5 seconds..."
	sleep 5
done

echo "installing flatpak applications..."
flatpak -y install \
	ar.com.tuxguitar.TuxGuitar \
	cc.arduino.IDE2 \
	ch.openboard.OpenBoard \
	com.github.geigi.cozy \
	com.github.jeromerobert.pdfarranger \
	com.github.tchx84.Flatseal \
	com.github.vkohaupt.vokoscreenNG \
	com.github.wwmm.easyeffects \
	com.github.xournalpp.xournalpp \
	com.heroicgameslauncher.hgl \
	com.jgraph.drawio.desktop \
	com.usebottles.bottles \
	de.mediathekview.MediathekView \
	fr.handbrake.ghb \
	im.riot.Riot \
	info.mumble.Mumble \
	info.smplayer.SMPlayer \
	io.github.adrienverge.PhotoCollage \
	io.github.flattool.Warehouse \
	io.github.pwr_solaar.solaar \
	io.sourceforge.pentobi \
	net.lutris.Lutris \
	net.nokyan.Resources \
	net.pokerth.PokerTH \
	net.sf.nootka \
	org.ardour.Ardour \
	org.audacityteam.Audacity \
	org.avidemux.Avidemux \
	org.chromium.Chromium \
	org.darktable.Darktable \
	org.freeplane.App \
	org.gnome.gbrainy \
	org.gnome.glabels-3 \
	org.gnome.gThumb \
	org.gnome.Maps \
	org.gnome.Rhythmbox3 \
	org.gnucash.GnuCash \
	org.godotengine.Godot3 \
	org.gottcode.Connectagram \
	org.gottcode.FocusWriter \
	org.gottcode.Peg-E \
	org.gottcode.Tanglet \
	org.gramps_project.Gramps \
	org.inkscape.Inkscape \
	org.kde.akregator \
	org.kde.blinken \
	org.kde.bovo \
	org.kde.digikam \
	org.kde.gcompris \
	org.kde.kaffeine \
	org.kde.kalzium \
	org.kde.kanagram \
	org.kde.katomic \
	org.kde.kblackbox \
	org.kde.kbounce \
	org.kde.kbreakout \
	org.kde.kbruch \
	org.kde.kdenlive \
	org.kde.kdiamond \
	org.kde.kgoldrunner \
	org.kde.khangman \
	org.kde.kig \
	org.kde.kigo \
	org.kde.killbots \
	org.kde.kiten \
	org.kde.kmplot \
	org.kde.knavalbattle \
	org.kde.knetwalk \
	org.kde.kollision \
	org.kde.krita \
	org.kde.kshisen \
	org.kde.ksquares \
	org.kde.ktuberling \
	org.kde.kubrick \
	org.kde.lskat \
	org.kde.minuet \
	org.kde.palapeli \
	org.kde.parley \
	org.kde.picmi \
	org.ksnip.ksnip \
	org.mixxx.Mixxx \
	org.mobsya.ThymioSuite \
	org.musescore.MuseScore \
	org.mypaint.MyPaint \
	org.octave.Octave \
	org.openttd.OpenTTD \
	org.quassel_irc.QuasselClient \
	org.remmina.Remmina \
	org.rncbc.qpwgraph \
	org.signal.Signal \
	org.torproject.torbrowser-launcher \
	org.wxhexeditor.wxHexEditor \
	org.x.Warpinator
#	io.lmms.LMMS \
#	net.minetest.Minetest \
#	org.denemo.Denemo \
#	org.gimp.GIMP \
#	org.speed_dreams.SpeedDreams \
#	org.supertuxproject.SuperTux \
#	xyz.ketok.Speedtest
