[Desktop Entry]
Type=Application
Encoding=UTF-8
Version=1.0
Name=Aufsatz
Exec=lowriter "/home/user/Schreibtisch/Pruefung.odt"
X-GNOME-Autostart-enabled=true
