<?xml version="1.0" encoding="UTF-8"?>
<!--
  This is an xmlboot config file.

  IMPORTANT:
  ==========
  There seems to be a bug in gfxboot that prevents loading of files with short names.
  The gfxboot findfile command only loads files with names *longer* than 12 characters.
  (Maybe this has something to do with the old 8.3 name schema!?)
  Therefore, always use long enough file names for background images, icons and font files...
-->
<xmlboot xmlns:its="http://www.w3.org/2005/11/its" its:version="1.0">
  <splash>splash_xmlboot.jpg</splash>
  <syslinux_defaults index="0" label="linux1 initrd=/live/initrd1.img boot=live config live-media-timeout=10 user-default-groups=audio,powerdev,video,vboxusers timezone=Europe/Zurich ip=frommedia"/>
  <configs>
    <config id="language" trigger_config="keyboard">
      <text>Language</text>
      <option id="de_CH" append="locales=de_CH.UTF-8" trigger_option="ch" selected="true">
        <text its:translate="no">Deutsch (Schweiz)</text>
      </option>
      <option id="de_AT" append="locales=de_AT.UTF-8" trigger_option="de">
        <text its:translate="no">Deutsch (Österreich)</text>
      </option>
      <option id="de_DE" append="locales=de_DE.UTF-8" trigger_option="de">
        <text its:translate="no">Deutsch (Deutschland)</text>
      </option>
      <option id="fr_CH" append="locales=fr_CH.UTF-8" trigger_option="ch_fr">
        <text its:translate="no">Français (Suisse)</text>
      </option>
      <option id="it_CH" append="locales=it_CH.UTF-8" trigger_option="it">
        <text its:translate="no">Italiano (Svizzera)</text>
      </option>
      <option id="en_US" append="locales=en_US.UTF-8" trigger_option="us">
        <text its:translate="no">English (USA)</text>
      </option>
      <option id="es_AR" append="locales=es_AR.UTF-8" trigger_option="es">
        <text its:translate="no">Español (Argentina)</text>
      </option>
      <option id="es_ES" append="locales=es_ES.UTF-8" trigger_option="es">
        <text its:translate="no">Español (España)</text>
      </option>
      <option id="pt_BR" append="locales=pt_BR.UTF-8" trigger_option="br">
        <text its:translate="no">Português (Brasil)</text>
      </option>
      <option id="ru_RU" append="locales=ru_RU.UTF-8" trigger_option="ru">
        <text its:translate="no">Русский</text>
      </option>
      <option id="sq_AL" append="locales=sq_AL.UTF-8" trigger_option="al">
        <text its:translate="no">Shqip</text>
      </option>
    </config>
    <config id="keyboard">
      <text>Keyboard</text>
      <option id="ch" append="keyboard-layouts=ch,ch(fr),de,fr" selected="true">
        <text>Switzerland (German)</text>
      </option>
      <option id="ch_fr" append="keyboard-layouts=ch(fr),ch,fr,de">
        <text>Switzerland (French)</text>
      </option>
      <option id="de" append="keyboard-layouts=de,ch,ch(fr),fr">
        <text>Germany</text>
      </option>
      <option id="it" append="keyboard-layouts=it,ch,ch(fr),fr">
        <text>Italy</text>
      </option>
      <option id="us" append="keyboard-layouts=us,ch,ch(fr),de">
        <text>USA</text>
      </option>
      <option id="es" append="keyboard-layouts=es,us,ch,ch(fr)">
        <text>Spain</text>
      </option>
      <option id="br" append="keyboard-layouts=br,pt,us,ch">
        <text>Brazil</text>
      </option>
      <option id="ru" append="keyboard-layouts=ru,ch,de,us">
        <text>Russia</text>
      </option>
      <option id="al" append="keyboard-layouts=al,us,ch,de">
        <text>Albania</text>
      </option>
    </config>
    <config id="desktop">
      <text>Desktop</text>
      <option id="kde" append="desktop=kde nottyautologin" selected="true">
        <text>KDE Plasma Desktop</text>
        <description>Desktop for PCs and notebooks with extensive configurability</description>
        <layout width="1280" height="1024" screenshot="screenshot_kde_desktop_300.jpg"/>
        <layout width="1280" height="800" screenshot="screenshot_kde_desktop_300.jpg"/>
        <layout width="1366" height="768" screenshot="screenshot_kde_desktop_300.jpg"/>
        <layout width="1024" height="768" screenshot="screenshot_kde_desktop_200.jpg"/>
        <layout width="1024" height="600" screenshot="screenshot_kde_desktop_300.jpg"/>
        <layout width="800" height="600" screenshot="screenshot_kde_desktop_200.jpg"/>
      </option>
      <option id="no" append="desktop=no">
        <text>Text console</text>
        <description>No desktop</description>
        <layout width="1280" height="1024" screenshot="screenshot_terminal_300.jpg"/>
        <layout width="1280" height="800" screenshot="screenshot_terminal_300.jpg"/>
        <layout width="1366" height="768" screenshot="screenshot_terminal_300.jpg"/>
        <layout width="1024" height="768" screenshot="screenshot_terminal_200.jpg"/>
        <layout width="1024" height="600" screenshot="screenshot_terminal_300.jpg"/>
        <layout width="800" height="600" screenshot="screenshot_terminal_200.jpg"/>
      </option>
    </config>
    <config id="persistence">
      <text>Data partition</text>
      <option id="rw" append="persistence forcepersistentfsck" selected="true">
        <text>Read-write</text>
        <description>All previous changes are visible, all new changes will be written to the data partition.</description>
      </option>
      <option id="ro" append="persistence persistence-read-only forcepersistentfsck">
        <text>Read-only</text>
        <description>All previous changes are visible, all new changes will be only written to RAM.</description>
      </option>
      <option id="no">
        <text>Not used</text>
        <description>All previous changes are invisible, all new changes will be only written to RAM.</description>
      </option>
    </config>
    <config id="live-media">
      <text>System device</text>
      <option id="any">
        <text>any</text>
        <description>use any storage device</description>
      </option>
      <option id="removable" append="live-media=removable live-media-timeout=10">
        <text>removable device</text>
        <description>prefer removable storage devices</description>
      </option>
      <option id="removable-usb" append="live-media=removable-usb live-media-timeout=10" selected="true">
        <text>removable USB device</text>
        <description>prefer removable USB storage devices</description>
      </option>
    </config>
  </configs>
  <options>
    <option id="swap_partition" append_selected="swapon" selected="true">Use swap partition</option>
    <option id="pae" syslinux_index="1" syslinux_label="linux2 initrd=/live/initrd2.img boot=live config live-media-timeout=10 user-default-groups=audio,powerdev,video,vboxusers timezone=Europe/Zurich ip=frommedia">more than 4 GB RAM</option>
    <option id="lapic_timer" append_nonselected="nolapic_timer" selected="true">Use local APIC timer</option>
    <option id="dynamic_ticks" append_nonselected="nohz=off" selected="true">Dynamic timer tick</option>
    <option id="messages" append_nonselected="quiet splash" off_off_triggers="debug">Show boot messages</option>
    <option id="debug" append_selected="debug=1" on_on_triggers="messages">Show debug messages</option>
  </options>
  <custom_options text=""/>
  <videomodes>
    <videomode width="1366" height="768" color_depth="32" background="splash_1366x768.jpg"/>
    <videomode width="1366" height="768" color_depth="16" background="splash_1366x768.jpg"/>
    <videomode width="1280" height="1024" color_depth="32" background="splash_1280x1024.jpg"/>
    <videomode width="1280" height="1024" color_depth="16" background="splash_1280x1024.jpg"/>
    <videomode width="1280" height="800" color_depth="32" background="splash_1280x800.jpg"/>
    <videomode width="1280" height="800" color_depth="16" background="splash_1280x800.jpg"/>
    <videomode width="1024" height="768" color_depth="32" background="splash_1024x768.jpg"/>
    <videomode width="1024" height="768" color_depth="16" background="splash_1024x768.jpg"/>
    <videomode width="1024" height="600" color_depth="32" background="splash_1024x600.jpg"/>
    <videomode width="1024" height="600" color_depth="16" background="splash_1024x600.jpg"/>
    <videomode width="800" height="600" color_depth="32" background="splash_800x600.jpg"/>
    <videomode width="800" height="600" color_depth="16" background="splash_800x600.jpg"/>
  </videomodes>
  <timeout color="0x000000">
    <format_singular>Automatic boot in %u second...</format_singular>
    <format_plural>Automatic boot in %u seconds...</format_plural>
    <layout width="1366" height="768" x="10" y="160" font="font_size_15.fnt"/>
    <layout width="1280" height="1024" x="10" y="180" font="font_size_15.fnt"/>
    <layout width="1280" height="800" x="10" y="160" font="font_size_15.fnt"/>
    <layout width="1024" height="768" x="10" y="160" font="font_size_15.fnt"/>
    <layout width="1024" height="600" x="100" y="120" font="font_size_15.fnt"/>
    <layout width="800" height="600" x="10" y="120" font="font_size_15.fnt"/>
  </timeout>
  <system>
    <text>Lernstick exam environment Debian 7</text>
    <version its:translate="no">(Version 2013-04-20)</version>
    <layout width="1366" height="768" x="10" y="738" font="font_size_10.fnt"/>
    <layout width="1280" height="1024" x="10" y="990" font="font_size_15.fnt"/>
    <layout width="1280" height="800" x="10" y="770" font="font_size_10.fnt"/>
    <layout width="1024" height="768" x="10" y="738" font="font_size_10.fnt"/>
    <layout width="1024" height="600" x="10" y="570" font="font_size_10.fnt"/>
    <layout width="800" height="600" x="10" y="570" font="font_size_10.fnt"/>
  </system>
  <breadcrumbs delimiter="  ▶  " color="0x000000">
    <layout height="1024" y="180" font="font_size_15.fnt"/>
    <layout height="800" y="170" font="font_size_15.fnt"/>
    <layout height="768" y="160" font="font_size_12.fnt"/>
    <layout height="600" y="120" font="font_size_12.fnt"/>
  </breadcrumbs>
  <menu color="0x000000" selected_color="0xFFFFFF" rectangle_color="0xC7D9F0">
    <layout width="1366" height="768" y="230" dy="40" font="font_size_20.fnt" icon_inset="10"/>
    <layout width="1280" height="1024" y="300" dy="40" font="font_size_20.fnt" icon_inset="10"/>
    <layout width="1280" height="800" y="250" dy="40" font="font_size_20.fnt" icon_inset="10"/>
    <layout width="1024" height="768" y="230" dy="30" font="font_size_15.fnt" icon_inset="10"/>
    <layout width="1024" height="600" y="170" dy="30" font="font_size_15.fnt" icon_inset="10"/>
    <layout width="800" height="600" y="180" dy="30" font="font_size_15.fnt" icon_inset="10"/>
    <start icon="icon_start.jpg" append_config="true">
      <text>Start Lernstick</text>
      <splash>splash_linux.jpg</splash>
    </start>
    <config id="language" icon="icon_language.jpg">
      <layout width="1366" height="768" y="230" dy="30" font="font_size_12.fnt" indention="30"/>
      <layout width="1280" height="1024" y="300" dy="40" font="font_size_20.fnt" indention="30"/>
      <layout width="1280" height="800" y="240" dy="30" font="font_size_15.fnt" indention="30"/>
      <layout width="1024" height="768" y="230" dy="30" font="font_size_12.fnt" indention="30"/>
      <layout width="1024" height="600" y="160" dy="26" font="font_size_12.fnt" indention="30"/>
      <layout width="800" height="600" y="160" dy="26" font="font_size_12.fnt" indention="30"/>
    </config>
    <config id="desktop" icon="icon_desktop.jpg" description_color="0x000000">
      <layout width="1366" height="768" y="230" dy="40" font="font_size_20.fnt" indention="30" description_x="170" description_y="500" screenshot_x="170" screenshot_y="230"/>
      <layout width="1280" height="1024" y="300" dy="40" font="font_size_20.fnt" indention="30" description_x="150" description_y="550" screenshot_x="150" screenshot_y="300"/>
      <layout width="1280" height="800" y="260" dy="40" font="font_size_20.fnt" indention="30" description_x="150" description_y="520" screenshot_x="150" screenshot_y="260"/>
      <layout width="1024" height="768" y="230" dy="30" font="font_size_15.fnt" indention="30" description_x="150" description_y="420" screenshot_x="150" screenshot_y="240"/>
      <layout width="1024" height="600" y="200" dy="30" font="font_size_15.fnt" indention="30" description_x="100" description_y="450" screenshot_x="100" screenshot_y="200"/>
      <layout width="800" height="600" y="200" dy="30" font="font_size_15.fnt" indention="30" description_x="90" description_y="390" screenshot_x="90" screenshot_y="210"/>
    </config>
    <config id="persistence" icon="icon_partition.jpg">
      <layout width="1366" height="768" y="230" dy="40" font="font_size_20.fnt" indention="30" description_x="220" description_y="400" textwrap="1000"/>
      <layout width="1280" height="1024" y="300" dy="40" font="font_size_20.fnt" indention="30" description_x="170" description_y="500" textwrap="800"/>
      <layout width="1280" height="800" y="280" dy="40" font="font_size_20.fnt" indention="30" description_x="170" description_y="420" textwrap="800"/>
      <layout width="1024" height="768" y="230" dy="30" font="font_size_15.fnt" indention="30" description_x="170" description_y="350" textwrap="700"/>
      <layout width="1024" height="600" y="200" dy="30" font="font_size_15.fnt" indention="30" description_x="170" description_y="320" textwrap="700"/>
      <layout width="800" height="600" y="200" dy="30" font="font_size_15.fnt" indention="30" description_x="110" description_y="320" textwrap="530"/>
    </config>
    <submenu icon="icon_config.jpg">
      <layout width="1366" height="768" y="210" dy="30" font="font_size_15.fnt" icon_inset="10" edit_x="10" edit_y="600" edit_width="1100" indention="30"/>
      <layout width="1280" height="1024" y="300" dy="40" font="font_size_20.fnt" icon_inset="10" edit_x="10" edit_y="830" edit_width="1050" indention="30"/>
      <layout width="1280" height="800" y="240" dy="30" font="font_size_15.fnt" icon_inset="10" edit_x="10" edit_y="620" edit_width="1050" indention="30"/>
      <layout width="1024" height="768" y="230" dy="30" font="font_size_15.fnt" icon_inset="10" edit_x="10" edit_y="600" edit_width="860" indention="30"/>
      <layout width="1024" height="600" y="170" dy="30" font="font_size_15.fnt" icon_inset="10" edit_x="10" edit_y="510" edit_width="860" indention="30"/>
      <layout width="800" height="600" y="155" dy="30" font="font_size_15.fnt" icon_inset="10" edit_x="10" edit_y="470" edit_width="640" indention="30"/>
      <text>More Configuration</text>
      <edit_prompt>Custom options:</edit_prompt>
      <back icon="icon_previous.jpg">Back to main menu</back>
      <config id="keyboard" icon="icon_keyboard.jpg">
        <layout width="1366" height="768" y="230" dy="30" font="font_size_15.fnt"/>
        <layout width="1280" height="1024" y="300" dy="40" font="font_size_20.fnt"/>
        <layout width="1280" height="800" y="230" dy="40" font="font_size_20.fnt"/>
        <layout width="1024" height="768" y="230" dy="30" font="font_size_15.fnt"/>
        <layout width="1024" height="600" y="170" dy="30" font="font_size_15.fnt"/>
        <layout width="800" height="600" y="170" dy="30" font="font_size_15.fnt"/>
      </config>
      <config id="live-media" icon="icon_storage_device.jpg" description_color="0x000000">
        <layout width="1366" height="768" y="230" dy="40" font="font_size_20.fnt" description_x="400" description_y="400"/>
        <layout width="1280" height="1024" y="300" dy="40" font="font_size_20.fnt" description_x="150" description_y="450"/>
        <layout width="1280" height="800" y="260" dy="40" font="font_size_20.fnt" description_x="150" description_y="430"/>
        <layout width="1024" height="768" y="230" dy="30" font="font_size_15.fnt" description_x="150" description_y="350"/>
        <layout width="1024" height="600" y="200" dy="30" font="font_size_15.fnt" description_x="150" description_y="320"/>
        <layout width="800" height="600" y="200" dy="30" font="font_size_15.fnt" description_x="90" description_y="320"/>
      </config>
      <option id="swap_partition"/>
      <option id="lapic_timer"/>
      <option id="dynamic_ticks"/>
      <option id="pae"/>
      <option id="messages"/>
      <option id="debug"/>
    </submenu>
    <start icon="icon_integrity_check.jpg" index="0" label="linux1 initrd=/live/initrd1.img boot=live live-media-timeout=10 verify-checksums">
      <text>Check integrity of boot medium</text>
      <splash>splash_linux.jpg</splash>
    </start>
  </menu>
</xmlboot>
